body{
    background-image: url("../images/fondo2.jpg");
}
h1{
    color: aqua;
}
.form-control{
    width: 80%;
    background: #ffff;
    margin: 0 auto;
    padding: 10px;
    border-radius: 12px;
    -moz-border-radius: 12px; 
    -o-border-radius: 12px; 
    -webkit-border-radius: 12px;
    padding: 2%;
}